@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Tajawal", sans-serif;
}

.container {
  width: 71%;
  margin: auto;
  padding-top: 90px;
}
